.propage{
    margin-top: 40px;
    margin-left:400px;
}
.proimg img{
   width: 40%;
   height: 300px;
}
.prodetail{
    margin-bottom: 30px;
   margin-left: 15px;
   font-size: 20px;
   color: rebeccapurple;
}
.prodetail h6{
   color: red;
   font-size: 30px;
}
.btn-add{
   background-color:lightblue;
}
.btn-buy{
   background-color: lightblue;
}
.btn input{
 width: 70px;
 padding:10px;
 height: 30px;
}